body,
input,
select,
textarea {
    font-family: Arial, "Open Sans", Helvetica, sans-serif;
}

body {
    background: black;
}

nav {
    display: none;
}

body.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.is-mobile.landing #footer {
    background-color: #1d242a;
}

#banner h2 {
    font-size: 2.75em;
    margin-bottom: 0;
}

#banner h2::before,
#banner h2::after {
    height: 0;
    background: none;
}

#banner p {
    letter-spacing: 0.225em;
    text-transform: unset;
    font-style: italic;
}

.more {
    display: none;
}

.button.primary,
.button.primary:hover {
    background-color: white !important;
    color: black !important;
}

#header {
    background: black;
    transition: none;
}

#one {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 60px);
    display: none;
}

#two, #two p {
    color: white;
}

#three {
    display: none;
}

.button {
    max-width:none;
}

.spotlight .content {
    max-width: none;
}

.spotlight:nth-child(1) {
    background-color: black;
}

.spotlight:nth-child(2) {
    display: none;
}

.spotlight:nth-child(3) {
    display: none;
}
#cta {
    display: none;
}

body.landing #footer {
    background-color: black;
}